.work-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 52px;
}

.section-title {
  padding-left: 173px;
  font-size: 44px;
  font-weight: normal;
  line-height: 120%;
}

.section-text {
  margin-right: 184px;
  width: 414px;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
}
